---
Checks: "*,
        -abseil-*,
        -llvm*,
	-google*,
	-modernize-use-trailing-return-type,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
	-misc-unused-parameters,
	-bugprone-easily-swappable-parameters,
	-cert-err33-c,
	-readability-identifier-length,
	-altera-unroll-loops
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     None
